[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
cloudinary = "*"
django-bootstrap3 = "*"
django-crispy-forms = "*"
psycopg2 = "*"
pillow = "*"
django-mathfilters = "*"
pip = "*"
django-urls = "*"
six = "*"
"django.utils.six" = "*"
django-registration = "*"
django-registration-redux = "*"
djangorestframework = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
