.headings {
  font-family: "Poppins", sans-serif;
}
.text-underline {
  text-decoration: underline;
}
form input{
  width: 30%;
}
.fa {
  color: rgb(0, 174, 255);
  font-size: 1.6vw;
}

.fade-item {
  font-weight: 300;
  color: rgb(63, 63, 63);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f4f7f6;
}
.nav-img{
  width: 35%;
  height :2vw

}


.btn-default {
  margin-top: 1vw;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

.fa {
  color: rgb(0, 174, 255);
  font-size: 1.6vw;
}

.fade-item {
  font-weight: 300;
  color: rgb(63, 63, 63);
}

.btn,
.btn:hover {
  background-color:rgb(0, 174, 255);
  color: #fff;
}

.btn-outline-dark,
.btn-outline-dark:hover {
  background-color: transparent;
  color: black;
}

.btn-custome,
.btn-custome:hover {
  background-color: rgb(0, 174, 255);
  color: #fff;
  border-radius: 1vw;
  font-size: 1vw;
}

.b-r {
  text-transform: uppercase;
  border-radius: 2vw;
  padding: 0.7vw;
}
.bg-lightdark {
  background-color: #dbdbdb;
}

.navbar-brand {
  font-size:1.5vw;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

.navbar-expand-lg {
  background: #ffffff;
}

.navbar-expand-lg li a {
  color: rgb(0, 0, 0);
}

.navbar-toggler {
  background-color: white;
}
.nav-right {
  margin-right: 5vw;
  text-transform: capitalize;
  font-size: 1vw;
  font-weight: 400;
}

.nav-link {
  margin-right: 0.5vw;
}
.homepage {
  background-image: url("https://res.cloudinary.com/jeddy/image/upload/v1655033900/photo_zibhez.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.homepage-content {
  margin: 14vw 0vw 14vw 0vw;
}

.homepage-content h3 {
  letter-spacing: 0.1vw;
  font-size: 1.8vw;
  font-family: "Poppins", sans-serif;
}
.home {
  background-color: rgba(39, 39, 39, 0.3);
  color: white;
}
.profile .card-img-top {
  border-radius: 50% !important;
}
.card h5 {
  font-size: 1.8vw;
  line-height: 2.6vw;
}

.post-card .card-img-top img {
  border-radius: 50vw;

}
.categories .btn {
  margin: 0.2vw;
}
.side-post-image {
  height: 7vw;
  width: 10vw;
  border-radius: 0.5vw;
}
.tops span {
  font-size: 1.3vw;
}
.footer {
  padding: 0.5rem 0;
  border-top: 0.1px solid #f1f2f3;
  background: rgb(0, 174, 255);
}

.footer p a {
  margin: 1.5vw;
  color: white;
  text-transform: uppercase;
}
.container-header {
  text-align: center;
  padding: 2.5vw;
 
}
.login-card {
  border: 0.1vw solid #d3ced2;
  padding: 2vw;
  margin: 2vw 0;
  text-align: left;
  border-radius: 0.5vw;
}
.login-container {
  background: #f7f7f7;
}

.login-container label {
  display: block;
  font-size: 1.5vw;
  font-weight: 400;
}

.login-container .checkbox {
  margin-top: 1vw;
}

.login-container p {
  margin-top: 1vw;
  font-size: 1.3vw;
}

.login-container .form-group {
  margin-top: 1vw;
}


.text-dark {
  color: rgb(0, 174, 255);
}


.profile .card-img-top {
  border-radius: 50%;
  float: none;
  line-height: 3.2vw;
  margin: 0 auto;
  margin-top: 0.6vw;
  width: 30%;
}
#try {
  display: flex;

}
.part3{
  margin-left: 45vw;
}
#part2 {
 margin-left: 45vw;
 margin-top: -70vw;
}
#try li  a{
  color: rgb(0, 174, 255);
}

.posts .img-fluid {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
}
.single-top-header {
  height: 40vw;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: white;

}

.single-content {
  padding: 2vw;
  margin-top: 1vw;
  margin-bottom: 4vw;
  color:white;
}
.images #imag {
  margin-top: 1vw;
  height: 50vw;
}

.author-img {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  
}
.author{
 font-weight: 500;
 color: white;
}

.blog-container {
  font-weight: 300;
  line-height: 3vw;
  font-size: 1.5vw;
  color: black;
}
.comments-container {
  background-color: #fafbfb;
  padding: 2vw;
}

.comment-author-img {
  width: 8vw;
  height: 8vw;
  padding: 1vw;
  border-radius: 50%;
}

.comment-p {
  font-size: 0.8vw;
  font-weight: 300;
}
.comment-author {
  font-weight: 500;
  text-transform: capitalize;
}

.comment-author span {
  font-size: 1.4vw;
  font-weight: 300;
}
.poster-img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-right: 1vw;
}

.author {
  font-size: 1vw;
}

.location-date {
  font-size: 1vw;
}


.author-home a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.btn-design,
.btn-design:hover {
  background-color: transparent;
  color: white;
  height: 5vw;
  width: 5vw;
  font-weight: 800;
  border-radius: 50%;
  border: 0.2vw solid rgb(143, 30, 30);
}


.btn-usability,
.btn-usability:hover {
  background-color: transparent;
  color: white;
  border-radius: 50%;
  font-weight: 800;
  height: 5vw;
  width: 5vw;
  font-weight: bold;
  border: 0.2vw solid rgb(148, 148, 4);
}

.btn-content,
.btn-content:hover {
  background-color: transparent;
  color: white;
  border-radius: 50%;
  font-weight: 800;
  height: 5vw;
  width: 5vw;
  font-weight: bold;
  border: 0.2vw solid rgb(0, 174, 255);
 
}
.button-group .justify-content-center div {
  margin-right: 1vw;
}

.button-group span {
  text-transform: uppercase;
  font-weight: 400;
}

.blog-section .card-img-top,
.card-img-tops {
  height: 13vw;
}
.d-flex .text-dark{
  font-size: 1.8vw;
}
.d-flex .yes{
  font-size: 1.8vw;
}
.search-form {
  margin-left: 30vw;
}
@media (max-width: 767px) {
  .blog-section .card-img-top,
  .card-img-tops {
    height: 100vw;
  }
  .search-form {
    margin-left: 0vw;
  }
}

.border-radius-around {
  border-radius: 50%;
  height: 4vw;
  width: 4vw;
}

.not-found, .not-found i {
  font-size: 1.5vw;
}
.card-img-top{
  width: 100%;
  padding: 0.1vw;
}
.poster-img{
  width: 45%;
  height: 1vw;
  margin-top: 0.7vw;
  
}
.display-on-hover .btn{
  padding: 0;
  width: 4vw;
  border-radius: 2vw;
  margin-top: 0.7vw;
}
.blog-section{
  margin: 3vw;
}