{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{{ block.super }}
<div class="container-fluid home-content">
    <h5 style="color:#ffffff">Site of the day {{date|date:"l d-F Y"}}</h5>
    <br>
    <a href="#" class="btn btn-primary" style="color:white;background-color: #42AB9E;">Visit Site</a>
    <a href="#" class="btn btn-outline-primary" style="color:white;">Interact</a>
    <a href="#" class="btn btn-outline-primary" style="color:white;">Collect</a>
    <section class="sect">
        <div>
            <div class="box-piesite">
                <ul>
                    <li class="design">
                        <div class="piesite" id="pie_0" data-pie="2.04"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">DESIGN</p>
                    </li>
                    <li class="usability">
                        <div class="piesite" id="pie_2" data-pie="5.02"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">USABILITY</p>
                    </li>

                    <li class="creativity">
                        <div class="piesite" id="pie_1" data-pie="2.04"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">CREATIVITY</p>
                    </li>
                    <li class="total">
                        <div class="piesite" id="pie_3" data-pie="6.43"></div>
                        <br>
                        <p style="color:white;font-size: 12px;">TOTAL</p>
                    </li>
                </ul>
            </div>
        </div>

    </section>
</div>
<div class="container-fluid" id="pro">
    <h5><strong>Nominees</strong> We need your vote!</h5>
    <div class="row">
        {% for data in project %}

        <div class="col-md-4" id="data">
            <div class="hovereffect">
                <img class="img-responsive" src="{{data.screenshot.url}}" alt="Card image cap" width="100%;" heigth="300px;">
                <div class="overlay">
                    <a class="info" href="{% url 'vote' data.pk %}">VOTE NOW</a>
                </div>
            </div>
            <div class="card-header">
                <h5 class="card-title">{{data.project_name}}</h5>
                <a href="{{data.project_url}}" class="card-text" target="blank">
                    <buttton class="btn btn-outline-primary" >Visit site</button>
                </a>
            </div>
            <div class="card-footer">
                    <a href="profile/{{data.profile.user.username}}/">
                        <div class="row">
                            <div class="">
                                {% if data.profile.Profile_photo %}
                                <img src="{{data.profile.Profile_photo.url}}" alt="img" width="40px" height="40px"
                                    style="border-radius: 50%; margin-left: 10px;" class="img-responsive">
                                {% endif %}
                            </div>
                            <div class="col-md-2" style="color:black;font-size: 10px;font-weight: bold;">
                                <h4 class="card-title">{{data.profile.user.username}}</h4>
                            </div>
                        </div>
                    </a>
                <small class="text-muted">{{data.pub_date|timesince}}</small>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}