{% load bootstrap3 %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h1> Awaards </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/{{request.user.id}}">Profile</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/logout/">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/register/">Sign up</a>
        </li>
        {% endif %}
        <li class="nav-item float-end">
          <a type="button" class="btn btn-outline-warning" aria-current="page" data-bs-toggle="modal"
            data-bs-target="#postproject">post project</a>
        </li>

      </ul>
     
      <h5 class="navbar-text text-dark">
        Welcome {{ user.username }}
      </h5>

    </div>
  </div>
  
</nav>

<!-- Modal -->
<div class="modal fade" id="postproject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          
          <button type="submit" class="btn btn-primary">Save changes</button>
        
          
          </form> 
       
     
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>