<nav class="navbar navbar-expand-lg">
  <div class="container container-fluid">
      <a class="navbar-brand" href="/">
          Awaards
      </a>
      <div class="logo">
        <a href="/">Home</a>
    </div>
 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
     <ul class="navbar-nav nav-right" style="display: flex;">
                    {% if user.is_authenticated %}
                    <div>
                        <li style="margin-top: 1.5vw;" class="nav-item text-center" id="try">
                            <li><span class="nav-link text-dark"><a href="/profile" class="text-primary" ><strong>{{ user.username }}</strong><img class="rounded-circle nav-img"
                                
                                alt=""></a></span></li> 
                    </div>
                    <div>
                        <li><span class="nav-link text-dark"><a href="/logout" class="text-primary"><br><strong>logout</strong></a></span></li>
                    </div>
                
                               
                    {% else %}
                    <span class="nav-link text-dark"><a href="/accounts/login"
                            class="text-primary" style="color: rgb(0, 174, 255);"><strong>REGISTER/LOG IN</strong></a></span>
                    {% endif %}
                </li>
            </ul>
      </div>
  </div>
</nav>